
<ion-content>
  <div *ngIf="!showQRCode">
    <br>
    <div style="text-align: center;">
      <ion-label style="font-size: medium;">Create transaction QR:</ion-label>
    </div>

    <ion-card style="height: fit-content;">
      <ion-card-content>
        <ion-label>Please enter the transaction details:</ion-label>
        <br>
        <div>
          <ion-input [(ngClass)]="amount" placeholder="Enter amount"></ion-input>
          <ion-input [(ngClass)]="description" placeholder="Description"></ion-input>
        </div>
          
        
      </ion-card-content>
    </ion-card>
  
    <ion-button (click)="showQR()" expand="block" fill="solid" shape="round">
      Generate Cash-In QR
    </ion-button>

  </div>


  <div style="text-align: center; height: 100%; width: 100%;" *ngIf="showQRCode">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Export and add to online ads</ion-card-subtitle>
        <br>
        <ion-card-title>QR Code: </ion-card-title>
      </ion-card-header>
      <br>
      <ion-card-content>
        <ngx-qrcode
        [elementType]="elementType"
        [errorCorrectionLevel]="correctionLevel"
        [value]="value">
        </ngx-qrcode>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="export()" expand="block" fill="outline" shape="">
      <ion-label>Export</ion-label>
    </ion-button>
  
  </div>

</ion-content>


